// Place all the styles related to the Bemylover controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group-btn {
  display: flex;
  flex-direction: column;
}

.group-btn .btn {
  margin-top: 16px;
  align-items: center;
}

.b-title {
  font-family: "Amatic SC";
  font-size: 150px;
}

.m-title {
  font-family: "Amatic SC";
  font-size: 50px;
}
