// Place all the styles related to the Bemylover controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group-btn {
  display: flex;
  flex-direction: column;
}

.group-btn .btn {
  margin-top: 16px;
  align-items: center;
}

.b-title {
  font-family: "Amatic SC";
  font-size: 150px;
  color: #fff;
  font-weight: bold;
}

.m-title {
  font-family: "Amatic SC";
  font-size: 50px;
  color: #f6a9a9;
  font-weight: bold;
}

#id_send_love {
  display: none;
}

#id_listen_event {
  display: block;
}

#id_answer {
  display: none;
}

#id_answer #id_choose_no {
  margin-top: 460px;
  min-width: 150px;
  transform: translateX(-20%);
}
