.heart {
  fill: red;
  position: relative;
  top: 0px;
  width: 100px;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.group-image {
  width: 500px;
  height: 400px;
  object-fit: cover;
  max-width: calc(100% - 16px);
}
