#id_footer {
  margin-top: 16px;
  background-color: #637373;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 200px;
  padding: 16px;
}

.footer-text {
  color: #fff;
}

#id_footer form {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  align-items: center;
}

#id_footer input[type="text"] {
  padding: 8px;
  border-radius: 20px;
  border: none;
  width: 300px;
  outline: none;
}

#id_footer input[type="submit"] {
  width: 80px;
  padding: 8px;
  margin-left: 12px;
  background-color: #679b9b;
}
