<div class="container">

  <div class="b-title">
    I
    <svg class="heart" viewBox="0 0 32 29.6">
      <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
      c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
    </svg>
  You.
  </div>

<div class="group-image swiper mySwiper">
  <div class="swiper-wrapper">
  <div class="swiper-slide the-img"><%= image_tag "https://i.pinimg.com/originals/f3/e1/76/f3e1765a029da94fe8f8ecdfd370904d.jpg" || "No image"%></div>
   <div class="swiper-slide the-img"><%= image_tag "https://s.memehay.com/files/posts/20200817/8f83b8653530ade5d360a79a4fdc9ebfgau-trang-ban-tim-trai-tim-yeu-thuong.jpg" || "No image"%></div>
   <div class="swiper-slide the-img"><%= image_tag "https://i.pinimg.com/originals/84/5f/05/845f05c46c1d9f7801c395d927fc4e92.jpg" || "No image"%></div>
   <div class="swiper-slide the-img"><%= image_tag "https://s.memehay.com/files/posts/20201202/be-dau-mam-ban-tim-chiu-chiu.jpg" || "No image"%></div>
  </div>
   <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>

</div>


<audio src="/assets/she_share_story.mp3"></audio>


</div>


<section class="sticky">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
</section>

    <script>

    window.addEventListener("DOMContentLoaded", event => {
  const audio = document.querySelector("audio");
  audio.volume = 0.2;
  audio.play();
  audio.setAttribute("loop", true)
});


    </script>
